<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{parts/head}"></head>

<body>
<p>press F</p>
<form th:action="@{/blank}"
      th:object="${Blank}" method="POST">
    <input type="hidden" th:field="*{idBlank}" />
    First Name:<br/>
    <input type="text" th:field="*{firstName}" />
    <br/>
    Last Name:<br/>
    <input type="text" th:field="*{lastName}" />
    <br/>
    otc:<br/>
    <input type="text" th:field="*{otc}" />
    <br/>
    bday:<br/>
    <input type="text" th:field="*{bday}" />
    <br/>
    city:<br/>
    <input type="text" th:field="*{city}" />
    <br/>
    examResults:<br/>
    <input type="text" th:field="*{examResults}" />
    <br/>
    <input type="submit" value="Ok" />
</form>
</body>
</html>