<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{parts/head}"></head>

<body>
    <form id="myForm" th:action="@{/blankAddGet}"
          th:object="${Blank}" method="POST">
        <input type="hidden" th:field="*{idBlank}"/>
        <div class="form-group">
            <label>Имя</label>
            <input type="text" th:field="*{firstName}" class="form-control">
        </div>
        <div class="form-group">
            <label>Фамилия</label>
            <input type="text" th:field="*{lastName}" class="form-control">
        </div>
        <div class="form-group">
            <label>Отчество</label>
            <input type="text" th:field="*{otc}" class="form-control">
        </div>
        <div class="form-group">
            <label>Дата рождения</label>
            <input type="date" th:field="*{bday}" class="form-control">
        </div>
        <div class="form-group">
            <label>Город проживания</label>
            <input type="text" th:field="*{city}" class="form-control">
        </div>
        <div class="form-group">
            <label>Результаты экзаменов</label>
            <input type="text" th:field="*{examResults}" class="form-control">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</body>
</html>