<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head th:insert="~{parts/head}">
</head>
<head>
    <script type="text/javascript" src="/js/blank.js"></script>
    <title>Анкеты</title>
</head>
<body>
<div>
    <div style="text-align: center;">
        <h1>Анкеты <br/> Добавить новую анкету
            <button id="addButton" type="button" class="btn btn-primary" sec:authorize="hasRole('ADMIN')">Добавить
            </button>
        </h1><br/>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Город проживания</th>
            <th>Результаты экзаменов</th>
            <th sec:authorize="hasRole('ADMIN')">Изменить</th>
            <th sec:authorize="hasRole('ADMIN')">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blank : ${data}">
            <td class="idBlank" th:text="${blank.idBlank}"></td>
            <td class="firstName" th:text="${blank.firstName}"></td>
            <td class="lastName" th:text="${blank.lastName}"></td>
            <td class="otc" th:text="${blank.otc}"></td>
            <td class="bday" th:text="${blank.bday}"></td>
            <td class="city" th:text="${blank.city}"></td>
            <td class="examResults" th:text="${blank.examResults}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <button id="editButton" type="button" class="btn btn-primary"><i
                        class="fas fa-1.5x fa-hand-holding-medical"></i></button>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <button id="deleteButton" type="button" class="btn btn-primary"><i
                        class="fas fa-1.5x fa-toilet-paper"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="~{parts/footer}"></footer>
</body>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width:600px !important;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

</html>