<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{parts/head}"></head>

<body>
<form id="myForm" th:action="@{/blank_cond}">
    <div class="form-group">
        <label>Выбрать анкету абитуриента: </label> </br>
        <button id="blank" type="button" class="btn btn-primary">Выбрать</button>
    </div>
    <div class="form-group">
        <label>Добавить новую анкету: </label> </br>
        <button id="new_blank" type="button" class="btn btn-primary">Добавить</button>
    </div>
    <br/>
</form>
</body>
</html>