<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{parts/head}">
</head>
<body>
<form th:action="@{/entrant}"
      th:object="${entrant}" method="POST">
    <input type="hidden" th:field="*{idEntrant}"/>
    <input type="hidden" th:field="*{activeSign}"/>
<!--    <input type="text" id="idBlank" th:field="*{blank.idBlank}"/>-->
    <div id="myDiv"></div>
    <div class="form-group" id="divBlank">
        <label>BLANKS</label>
        <select class="form-control" th:field="*{blank}">
            <option id="idBlank" th:each="type : ${allBlanks}"
                    th:value="${type.idBlank}"
                    th:text="${type}"></option>
        </select>
    </div>
    <div class="form-group">
        <label>BENEFITS</label>
        <select class="form-control" th:field="*{benefits}">
            <option th:each="type : ${allBenefits}"
                    th:value="${type.idBenefit}"
                    th:text="${type}"></option>
        </select>
    </div>
    <div class="form-group">
        <label>SPECIALTY</label>
        <select class="form-control" th:field="*{specialty}">
            <option th:each="type : ${allSpecialties}"
                    th:value="${type.idSpecialty}"
                    th:text="${type}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
</body>
</html>