<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{parts/head}">
</head>
<body>
<form th:action="@{/entrant}"
      th:object="${entrant}" method="POST">
    <input type="hidden" th:field="*{idEntrant}"/>
    <input type="hidden" th:field="*{activeSign}"/>
    <div class="form-group">
        <label>blank</label>
        <select th:field="*{blank}">
            <option th:each="type : ${allBlanks}"
                    th:value="${type.idBlank}"
                    th:text="${type}"></option>
        </select>
    </div>
    <div class="form-group">
        <label>benefits</label>
        <select th:field="*{benefits}">
            <option th:each="type : ${allBenefits}"
                    th:value="${type.idBenefit}"
                    th:text="${type}"></option>
        </select>
    </div>
    <div class="form-group">
        <label>specialty</label>
        <select th:field="*{specialty}">
            <option th:each="type : ${allSpecialties}"
                    th:value="${type.idSpecialty}"
                    th:text="${type}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
</body>
</html>