<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{parts/head}"xmlns:th="http://www.thymeleaf.org">
</head>

<body style="background-color: black;">
<h1 style="color: white">ЗдраВствуйте, уважаемые!</h1>
<p style="color: moccasin">Choose your destiny:</p>
<ul style="list-style-type: none; color: white">
    <li><a href="/specialty">Specialties</a></li>
    <li><a href="/type_benefit">TypeBenefits</a></li>
    <li><a href="/type_education">TypeEducations</a></li>
    <li><a href="/benefit">Benefit</a></li>
    <li><a href = "/blank" >Blanks</a></li>
    <li><a href = "/entrant" >Entrants</a></li>
</ul>
<p style="font-size: 3.22rem; color: pink; position: absolute; bottom: 0; right: 100px;">ДИЗАЙН СТУДИИ АРТЕМИЯ ЛЕБЕДЕВА &copy;</p>
<img src="https://2ch.hk/stickers/FypGzCAt/nbv828dP_thumb.gif" width="100" height="100" style="position: absolute; right: 0; bottom: 0;">
</body>
</html>