<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{parts/head}">
</head>

<body class="container">
<div th:fragment="logout" class="logout row" sec:authorize="isAuthenticated()" style="padding-top: 1rem;">
    <div class="col">
        <div class="row" style="float: right; width: 420px;">
            <div class="col-7">
                <p style="padding-top: 6px; width: 250px;">Добро пожаловать,  <span sec:authentication="name"></span>!</p>
            </div>
            <div class="col-5">
                <form action="#" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-primary">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item"><a href="/specialty">Специальности</a></li>
        <li class="list-group-item"><a href="/type_benefit">Виды привилегий</a></li>
        <li class="list-group-item"><a href="/type_education">Виды образования</a></li>
        <li class="list-group-item"><a href="/benefit">Привилегии</a></li>
        <li class="list-group-item"><a href="/blank" >Анкеты</a></li>
        <li class="list-group-item"><a href="/entrant" >Абитуриенты</a></li>
    </ul>
</div>
<style>
    a:hover {
        text-decoration: none;
        color: inherit;
    }
    a {
        color: inherit;
    }
    li:hover {
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).on("click", "li", function () {
        window.location.href = $(this).find("a").attr("href");
    })
</script>
</body>
</html>