<!DOCTYPE HTML>
<html lang="en" >
<head th:insert="~{parts/head}">
</head>

<body>
<h1>Здраствуйте, уважаемые!</h1>
<p>textmn nkjnkjkjkbmbmnbmnbmbm</p>
<ul>http://localhost:8080/blank
    <li><a href = "http://localhost:8080/specialty" >Специальности</a></li>
    <li><a href = "http://localhost:8080/type_benefit" >type_benefits</a></li>
    <li><a href = "http://localhost:8080/type_education" >type_education</a></li>
    <li><a href = "http://localhost:8080/specialty_add" >specialty_add</a></li>
    <li><a href = "http://localhost:8080/blank" >blank</a></li>
</ul>

</body>
</html>