<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head th:insert="~{parts/head}">
</head>
<head>
    <title>Специальности</title>
    <script type="text/javascript" src="/js/specialty.js"></script>
</head>
<body>
<div>
    <div>
        <h1>Специальности. <br/> Добавить новую специальность. <button id="addButton" type="button" class="btn btn-primary" sec:authorize="hasRole('ADMIN')">Добавить</button></h1><br/>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Наименование специальности</th>
            <th>Стоимость специальности</th>
            <th sec:authorize="hasRole('ADMIN')">Изменить</th>
            <th sec:authorize="hasRole('ADMIN')">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spec : ${data}" >
            <td class="id" th:text="${spec.idSpecialty}"></td>
            <td class="spec_name" th:text="${spec.specName}"></td>
            <td class="spec_cost" th:text="${spec.specCost}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <button id="editButton" type="button" class="btn btn-primary"><i class="fas fa-1.5x fa-hand-holding-medical"></i></button>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <button id="deleteButton" type="button" class="btn btn-primary"><i class="fas fa-1.5x fa-toilet-paper"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="~{parts/footer}"></footer>
</body>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

</html>