<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{parts/head}">
</head>
<body>
<form id="myForm" th:action="@{/type_education}"
      th:object="${type_education}" method="POST">
    <input type="hidden" th:field="*{idTypeEducation}"/>
    <div class="form-group">
        <label>Наименование образования</label>
        <input type="text" th:field="*{educName}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</body>
</html>