<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head th:insert="~{parts/head}">
</head>
<head>
    <script type="text/javascript" src="/js/type_benefit.js"></script>
</head>
<body>
<div>
    <center>
        <h1>Type Benefit</h1>
    </center>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>BENEFIT_NAME</th>
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tbenef : ${data}">
            <td class = "id" th:text="${tbenef.idTypeBenefit}"></td>
            <td class = "benefit_name" th:text="${tbenef.benefitName}"></td>
            <td>
                <button id="deleteButton" type="button" class="btn btn-primary">-</button>
            </td>
            <td>
                <button id="editButton" type="button" class="btn btn-primary">+</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="~{parts/footer}"></footer>
</body>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <center>
                            <table cellspacing="15">
                                <tr>
                                    <td>ID:</td>
                                    <td>
                                        <textarea id="txtId"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>BENEFIT_NAME:</td>
                                    <td>
                                        <textarea id="txtBenefit_name"></textarea>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                        </center>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="sendEdit" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

</html>