<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html>
<head th:insert="~{parts/head}">
</head>
<head>
    <script type="text/javascript" src="/js/type_education.js"></script>
    <title>Виды образования</title>
</head>
<body>
<div>
    <center>
        <h1>Виды образования<br/> Добавить новый вид <button id="addButton" type="button" class="btn btn-primary" sec:authorize="hasRole('ADMIN')">Добавить</button></h1><br/>
    </center>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Наименование образования</th>
            <th sec:authorize="hasRole('ADMIN')">Изменить</th>
            <th sec:authorize="hasRole('ADMIN')">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teduc : ${data}">
            <td class = "id" th:text="${teduc.idTypeEducation}"></td>
            <td class = "educ_name" th:text="${teduc.educName}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <button id="editButton" type="button" class="btn btn-primary"><i class="fas fa-1.5x fa-hand-holding-medical"></i></button>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <button id="deleteButton" type="button" class="btn btn-primary"><i class="fas fa-1.5x fa-toilet-paper"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="~{parts/footer}"></footer>
</body>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
</html>